<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <title>Billing Page</title>
</head>
<body class="container">
<h2 class="display-2">Bill</h2>
<a th:href="@{/home}" class="btn btn-primary">Home</a>
<a th:href="@{/PurchaseCtrl/purchasehistory}" class="btn btn-primary" style="margin-left: 8px">Show Purchase history</a>

<hr>
<table class="table table-bordered">
    <tr>
        <td>Purchase ID</td>
        <td th:text="${purchase.getPurchaseId()}" colspan="2"></td>
    </tr>
    <tr>
        <td>Purchase Date</td>
        <td th:text="${#dates.format(purchase.getTimestamp(), 'dd-MMM-yyyy')}" colspan="2"></td>
    </tr>
    <tr>
        <td>Total Price</td>
        <td th:text="${purchase.getAmount()}" colspan="2"></td>
    </tr>
    <tr th:each="item: ${purchase.getShoppingCart().getCartItems()}">
        <td th:text="${item.getProductDetails().getProductName()}"></td>
        <td th:text="${item.getProductDetails().getProductCategory()}"></td>
        <td th:text="${item.getQuantity()}"></td>
    </tr>
</table>
</body>
</html>